{% extends 'base.html.twig' %}

{% block title %}Vincent Parrot
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
{% endblock %}

{% block body %}
	<div class="home">
		<div class="px-4 py-5 my-5 text-center home-content">
			<h1 class="display-5 fw-bold text-body-emphasis home-content">Bienvenue chez Vincent Parrot</h1>
			<div class="col-lg-6 mx-auto">
				<p class="lead mb-4">La performance mécanique à votre service : Des interventions de qualité pour une conduite en toute quiétude.
					Nous proposons des services tels que la réparation de la carrosserie, de la mécanique des voitures,
					l'entretien régulier des véhicules, ainsi que la vente de véhicules d'occasion.</p>
					<button type="button" class="btn btn-light">Voir nos services</button>
			</div>
		</div>
	</div>
{% endblock %}


