{# templates/service/services_list.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Nos Services{% endblock %}

{% block body %}

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    <div class="container col-xxl-8 px-4 py-5">
        {% for service in services %}
            {% include 'service/service.html.twig' with {'service': service} %}
        {% endfor %}
    </div>
{% endblock %}






