@import '~bootstrap/scss/bootstrap';



.home {
    height: 90vh;
    margin: 0;
    background-image: url('../img/garage.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo{
    background-image: url('../img/logo.svg');
    width: 200px;
    height: 40px;
    background-repeat: no-repeat;
}


.home-content {
    text-align: center;
    color: white !important;
}

.rating {
    display: inline-block;
    font-size: 30px;
    cursor: pointer;
}

.rating .star {
    color: #ddd;
    transition: color 0.2s;
    margin-right: 5px;
}

.rating .star:hover,
.rating .star.active {
    color: gold;
}