{% extends 'base.html.twig' %}

{% block title %}Détails de {{ car.name }}{% endblock %}

{% block body %}
    <div class="px-4 pt-5 my-5 text-center border-bottom">
        <h1 class="display-4 fw-bold text-body-emphasis">{{ car.name|striptags }}</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">{{ car.caracteristics|striptags }}</p>
        </div>
        <div class="overflow-hidden">
            <div class="container px-5">
                {% if car.carImage %}
            {% set firstCarImage = car.carImage.first %}
            <img src="{{ asset('uploads/' ~ firstCarImage.filename) }}" class="card-img-top" alt="Image">
        {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
