{% extends 'base.html.twig' %}

{% block title %}Nos véhicules d'occasion{% endblock %}

{% block body %}
    <div class="container text-center">
        <h1 class="display-5 fw-bold text-body-emphasis mt-5 mb-5">Nos véhicules d'occasion</h1>
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
            {% for car in cars %}
                {% include 'car/car_card.html.twig' with {'car': car} %}
            {% endfor %}
        </div>
    </div>
{% endblock %}