<div id="carListContainer" class="container">
    {% for car in cars %}
        {% if loop.index0 % 3 == 0 %}
            {% if loop.index0 != 0 %}
                </div>
            {% endif %}
            <div class="row">
        {% endif %}

        {% include 'car/car_card.html.twig' with {'car': car} %}

        {% if loop.last %}
            {% set remainingCars = 3 - loop.index % 3 %}
            {% if remainingCars > 0 and remainingCars < 3 %}
                {% for i in 1..remainingCars %}
                    <div class="col-lg">
                        <!-- Ajoutez un contenu vide ou un espace réservé pour les voitures manquantes -->
                    </div>
                {% endfor %}
            {% endif %}
            </div>
        {% endif %}
    {% endfor %}
</div>


