{% extends 'base.html.twig' %}

{% block title %}Nos véhicules d'occasion
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
			<div class="col">
				<div class="card mb-4 rounded-3 shadow-sm">

					<div class="card-body">
						</h1>
						<ul class="list-unstyled mt-3 mb-4">
							<li>10 users included</li>
							<li>2 GB of storage</li>
							<li>Email support</li>
							<li>Help center access</li>
						</ul>
						<button type="button" class="w-100 btn btn-lg btn-outline-primary">Voir le détail</button>
					</div>
					<div class="card-header py-3">
						<h3 class="card-title pricing-card-title">14999<small class="text-body-secondary fw-light">€</small>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card mb-4 rounded-3 shadow-sm">

					<div class="card-body">
						</h1>
						<ul class="list-unstyled mt-3 mb-4">
							<li>10 users included</li>
							<li>2 GB of storage</li>
							<li>Email support</li>
							<li>Help center access</li>
						</ul>
						<button type="button" class="w-100 btn btn-lg btn-outline-primary">Voir le détail</button>
					</div>
					<div class="card-header py-3">
						<h3 class="card-title pricing-card-title">14999<small class="text-body-secondary fw-light">€</small>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card mb-4 rounded-3 shadow-sm">

					<div class="card-body">
						</h1>
						<ul class="list-unstyled mt-3 mb-4">
							<li>10 users included</li>
							<li>2 GB of storage</li>
							<li>Email support</li>
							<li>Help center access</li>
						</ul>
						<button type="button" class="w-100 btn btn-lg btn-outline-primary">Voir le détail</button>
					</div>
					<div class="card-header py-3">
						<h3 class="card-title pricing-card-title">14999<small class="text-body-secondary fw-light">€</small>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card mb-4 rounded-3 shadow-sm">

					<div class="card-body">
						</h1>
						<ul class="list-unstyled mt-3 mb-4">
							<li>10 users included</li>
							<li>2 GB of storage</li>
							<li>Email support</li>
							<li>Help center access</li>
						</ul>
						<button type="button" class="w-100 btn btn-lg btn-outline-primary">Voir le détail</button>
					</div>
					<div class="card-header py-3">
						<h3 class="card-title pricing-card-title">14999<small class="text-body-secondary fw-light">€</small>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card mb-4 rounded-3 shadow-sm">

					<div class="card-body">
						</h1>
						<ul class="list-unstyled mt-3 mb-4">
							<li>10 users included</li>
							<li>2 GB of storage</li>
							<li>Email support</li>
							<li>Help center access</li>
						</ul>
						<button type="button" class="w-100 btn btn-lg btn-outline-primary">Voir le détail</button>
					</div>
					<div class="card-header py-3">
						<h3 class="card-title pricing-card-title">14999<small class="text-body-secondary fw-light">€</small>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card mb-4 rounded-3 shadow-sm">

					<div class="card-body">
						</h1>
						<ul class="list-unstyled mt-3 mb-4">
							<li>10 users included</li>
							<li>2 GB of storage</li>
							<li>Email support</li>
							<li>Help center access</li>
						</ul>
						<button type="button" class="w-100 btn btn-lg btn-outline-primary">Voir le détail</button>
					</div>
					<div class="card-header py-3">
						<h3 class="card-title pricing-card-title">14999<small class="text-body-secondary fw-light">€</small>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card mb-4 rounded-3 shadow-sm">

					<div class="card-body">
						</h1>
						<ul class="list-unstyled mt-3 mb-4">
							<li>10 users included</li>
							<li>2 GB of storage</li>
							<li>Email support</li>
							<li>Help center access</li>
						</ul>
						<button type="button" class="w-100 btn btn-lg btn-outline-primary">Voir le détail</button>
					</div>
					<div class="card-header py-3">
						<h3 class="card-title pricing-card-title">14999<small class="text-body-secondary fw-light">€</small>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card mb-4 rounded-3 shadow-sm">

					<div class="card-body">
						</h1>
						<ul class="list-unstyled mt-3 mb-4">
							<li>10 users included</li>
							<li>2 GB of storage</li>
							<li>Email support</li>
							<li>Help center access</li>
						</ul>
						<button type="button" class="w-100 btn btn-lg btn-outline-primary">Voir le détail</button>
					</div>
					<div class="card-header py-3">
						<h3 class="card-title pricing-card-title">14999<small class="text-body-secondary fw-light">€</small>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card mb-4 rounded-3 shadow-sm">
					<div class="card-body">
						
						</h1>
						<ul class="list-unstyled mt-3 mb-4">
							<li>10 users included</li>
							<li>2 GB of storage</li>
							<li>Email support</li>
							<li>Help center access</li>
						</ul>
						<button type="button" class="w-100 btn btn-lg btn-outline-primary">Voir le détail</button>
					</div>
					<div class="card-header py-3">
						<h3 class="card-title pricing-card-title">14999<small class="text-body-secondary fw-light">€</small>
					</div>
				</div>
			</div>
		</div>
		<div>
		{% endblock %}

