{% extends 'base.html.twig' %}

{% block title %}Nos véhicules d'occasion
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
			{% for car in cars %}
				{% include 'car/car.html.twig' with  {'car': car} %}
			{% endfor %}
		</div>
	<div>
{% endblock %}


