{% extends 'base.html.twig' %}

{% block title %}Contactez nous!{% endblock %}

{% block body %}

<div class="container col-xxl-8 px-4 py-5">
	<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
		<div class="col-10 col-sm-8 col-lg-6 contact">
			<img src="{{ asset('assets/img/garage.jpg') }}" class="d-block mx-lg-auto img-fluid" alt="garage-omage" width="700" height="500" loading="lazy">
		</div>
		<div class="col-lg-6">
			<h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-5">Contactez nous</h1>
			<p class="lead mb-5">Merci de nous faire part de vos questions, suggestions ou préoccupations. Nous ferons de notre mieux pour vous répondre dans les plus brefs délais.</p>
				<form class="needs-validation" novalidate="">
					<div class="row g-3">
						<div class="col-sm-6">
							<input type="text" class="form-control" id="firstName" placeholder="Votre Prénom" value="" required="">
							<div class="invalid-feedback">
								Champ obligatoire.
							</div>
						</div>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="lastName" placeholder="Votre Nom" value="" required="">
							<div class="invalid-feedback">
								Champ obligatoire.
							</div>
						</div>
						<div class="col-12">
							<input type="email" class="form-control" id="email" placeholder="Votre email" required="">
							<div class="invalid-feedback">
								Entrez une adresse mail valide s'il vous plait ...
							</div>
						</div>
						<div class="col-12">
							<textarea class="form-control" placeholder="Votre message" id="floatingTextarea2" style="height: 100px"></textarea>
							<div class="invalid-feedback">
								Veillez rentre votre message ...
							</div>
						</div>
					</div>
					<hr class="my-4">
					<button class="w-100 btn btn-dark btn-lg" type="submit">Envoyer</button>
				</form>
		</div>
	</div>
</div>{% endblock %}





