{% extends 'base.html.twig' %}

{% block title %}Hello OpeningDayController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="row">
        <div class="col-6 col-md-2 mb-3">
            <h5>Horaires D'ouverture</h5>
            {% for openingDay in openingDays %}
                <p>
                    {{ openingDay.dayOfWeek }} : {{ openingDay.startTime }} - {{ openingDay.endTime }}
                </p>
            {% endfor %}
        </div>
{% endblock %}
